{% extends 'base.html' %}
{% block content %}
<center>

{{detail.emp_no}}<br>
{{detail.name}}<br>
<img src="{{detail.img.url}}" alt="" style="width:500px;height:500px;"><br>
{{detail.status}}<br>
{{detail.address}}<br>
{{detail.emp_start_date}}<br>
{{detail.emp_end_date}}<br>
<button style="background-color:green;"><a class="btn btn-warning" href="{% url 'update' detail.id %}">UPDATE</a></button>&nbsp;&nbsp;&nbsp;&nbsp;
<button style="background-color:red;"><a class="btn btn-danger" href="{% url 'delete' detail.id %}">DELETE</a></button><br>

</center>
{% endblock %}
